// Index page renders media stocks
%h2.page-header Media Types

= render template: 'media_types/search'

= link_to "Add New Media", action: 'new', id: @media_type.id

%table.table-hover.table-bordered
  %thead.header
    %tr.table
      %th Type
      %th Suite         
      /%th Date Last Updated 
      /%th Stock Count 
      /%th Measurements
      %th Edit Media
  %tbody
    - @media_types.each do |mt|
      %tr.table
        %td= link_to mt.name, controller: 'media_types', action: 'show', id: mt.id
        %td= mt.measurement_suite.name       
        /%td= mt.updated_at
        //- byebug if mt.stock_batches.count > 0
        /%td= mt.stock_batches.count
        /mt.stock_batches.count > 0 ? mt.stock_batches.inspect : '0'
        /%td= link_to "Add Measurements", controller: 'measurements', action: 'new', id: mt.id
        %td= link_to "Edit", controller: 'media_types', action: 'edit', id: mt.id



