%h3 Standard Blank Measurement
= simple_form_for @blank_measurement do |f| 
  %table.table
    %thead
      %tr.table
    %thead
      %tr.table
    - [1, 2, 3].each do |n|      
      %tr
        %td.table Weight #{n}
        %td        
          %input{:name => "weight#{n}", :type => "number"}/
  = f.submit "Create Blank", class: "btn btn-info"
= link_to "Cancel"



